body{
    margin: 0;
}

.fw{
    width: 100%
}

.fh{
    height: 100%
}

.presentation{
    background-color: #464645;
    height: 100%;
    position: relative;
}

.presentation .info-box{
    width: 50%;
    min-width: 300px;
    margin: auto;
    position: absolute;
    top: -20%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50%;
    min-height: 200px;
}

p{
  font-size: 2em;
  color: #fff;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: 200;
}

.contact{
    font-size: 1.2em;
    color: #fff;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    font-weight: 200;
    list-style: none;
}

.contact li{
    margin-top: 5%
}

.contact a{
    vertical-align: super;
    text-decoration: none;
    color: #fff
}

.logo{
  background-image: url('contact.png');
  background-repeat: no-repeat;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.linkedin {
  background-position: 3px 0px;
}

.gplus {
  background-position: -48px 0px;
}

.skype {
  background-position: -103px 0px;
}

.github {
  background-position: -156px 0px;
}

.mail {
  background-position: -205px 0px;
}