body{
    margin: 0;
}

.fw{
    width: 100%
}

.fh{
    height: 100%
}

.presentation{
    background-color: #fff;
    height: 100%;
    position: relative;
}

.presentation .info-box{
    width: 50%;
    min-width: 300px;
    margin: auto;
    position: absolute;
    top: -30%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50%;
    min-height: 200px;
}

p{
  font-size: 64px;
  color: #464645;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

p span{
    font-size: 38px;
}

.contact{
    font-size: 1.2em;
    color: #464645;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    list-style: none;
}

.contact li{
    margin-top: 5%
}

.contact a{
    vertical-align: super;
    text-decoration: none;
    color: #464645
}

